{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div class="col-sm-6">
    <h1>Add factory</h1>
    <hr>
    <form method="post" action=""> {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="{{ button_name }}"/>

        <a href="
            {% if instance %}
            {{ instance.get_absolute_url }}
            {% else %}
            {% url "factories:list" %}
            {% endif %}" class="btn btn-default">Cancel
        </a>
    </form>
</div>

{% endblock content %}